<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="http://www.istao.edu.mx">
                        Instituto Tecnológico Superior de Acatlán de Osorio
                    </a>
                </li>
                <li>
                    <a href="https://es-la.facebook.com/itsao.oficial/">
                        facebook
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, 
            <a href="http://www.istao.edu.mx" target="_blank">ITSAO</a>.
        </div>
    </div>
</footer>
